streamlit
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
pypdf
sentence-transformers
faiss-cpu
transformers
torch
accelerate
streamlit
langchain
google-generativeai
faiss-cpu
python-dotenv
